*{
    margin: 0%;
    padding: 0%;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header {
 display: flex; 
  /*background-color: aqua;*/    
background-color:#fff; 
 height: 80px;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #6b6060;
}
.myntra_home{
    height: 53px;
    width: 60px;
    

}

.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar {
     display: flex;
     min-width: 500px;
     justify-content: space-between;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .30px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
   border-bottom: 3px solid #ffffff;
}
.nav_bar a:hover{
    /*border-bottom: 4px solid #f54e77;*/
       border-bottom-color: #f54e77;
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar{
    height: 40px;
    min-width: 200x;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon{
        box-sizing: content-box;
        height: 20px;
        padding: 10px;
        background-color: #f5f5f6;
        color: #282c3f;
        /*font-weight: 300;*/
        border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar{
     justify-content: space-between;
}
.action_container{
     font-size: 14px;
     letter-spacing: .30px;
     color: #282c3f;
     font-weight: 700;
}
.action_icon{
        margin-left: 4%;
        height: 20px;
        padding: 10px;
        color: #282c3f;
        /*font-weight: 300;*/
}
.wishlist_bar{
      justify-content: space-between;
      text-align: center;
      margin-right: 4%;
}
.wishlist_container{
    font-size: 14px;
    letter-spacing: .30px;
    font-weight: 700;
}
.wishlist_name{
        height: 20px;
        padding: 10px;
}
.wishlist_icon{
        margin-left: 4%;
        height: 20px;
        padding: 10px;
        margin-right: 15%;
}
.bag_bar{
     justify-content: space-between;
     margin-inline: 10px 50px;
}
.bag_container{
    font-size: 14px;
    letter-spacing: .30px;
    color: #282c3f;
    font-weight: 700;
}
.bag_icon{
     margin-left: 4%;
        height: 20px;
        padding: 10px;
        align-items: center;
}
.bag_name{
    height: 20px;
    padding: 10px;
}
.main_all{
    margin: 20px 30px 0 10px;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
    float: right;
    margin-bottom: 28px;
}
.hello_1{
     font-size: 14px;
    letter-spacing: .30px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.hello_2{
    font-size: 14px;
    letter-spacing: .30px;
    color: #0a0b0c;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
}
.hello_3{
     font-size: 14px;
    letter-spacing: .30px;
    color: #0a0b0c;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
}


/*Main section*/
.banner_container{
    margin: 35px 0;

}

.banner_image{
    width: 100%;

}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}


.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.sale_item{
    width: 250px;

}

.footer_container{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}